@model List<Shsict.InternalWeb.Models.TruckOperationCycle>
@{
    ViewBag.Title = "单车运行周期";
    Layout = "~/Views/Shared/_LayoutPad.cshtml";
}
<script type="text/javascript">
    $(function () {
        $('input:jqmData(role="datebox")').mobiscroll(opt);

        $("[name='radio-choice-b']").click(function () {
            var myTime = parseInt($("#myTime .ui-btn-text").text());
            var sel = $(this).val();

            window.location.href = "/PadTruckOperationCycle/SortByCompTruck/" + myTime + sel;;
        });

        $("#plus").click(function () {
            var myTime = parseInt($("#myTime .ui-btn-text").text()) + 5;
            var sel = $(".ui-radio-on").prev().val();

            $("#myTime span.ui-btn-text").text(myTime + "min");
            window.location.href = "/PadTruckOperationCycle/SortByCompTruck/" + myTime + sel;
        });
        $("#minus").click(function () {
            var myTime = parseInt($("#myTime .ui-btn-text").text()) - 5;
            var sel = $(".ui-radio-on").prev().val();

            $("#myTime span.ui-btn-text").text(myTime + "min");
            window.location.href = "/PadTruckOperationCycle/SortByCompTruck/" + myTime + sel;
        });
        $(".Mysort").click(function () {
            var page = $(this).attr('id');
            var myTime = parseInt($("#myTime .ui-btn-text").text());
            var sel = $(".ui-radio-on").prev().val();

            window.location.href = "/PadTruckOperationCycle/" + page + "/" + myTime + sel;
        });
    });
</script>
<div class="ui-body">
    <div class="ui-bar ui-bar-c">
        <h4>单车运行周期</h4>
        <div class="clear"></div>
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" data-corners="false" style="float: left">
            @{ string MyTime = "25min";
               string stopfg = "N";

               if (@Html.ViewContext.RouteData.Values["id"] != null)
               {
                   string _id = @Html.ViewContext.RouteData.Values["id"].ToString();
                   MyTime = _id.Substring(0, _id.Length - 1) + "min";
                   stopfg = _id.Substring(_id.Length - 1, 1);
               }
            }

            <a id="myTime" href="#" data-role="button" data-inline="true">
                @MyTime
            </a>
            <a id="plus" href="#" data-role="button" data-icon="plus" data-iconpos="notext">Arrow up</a>
            <a id="minus" href="#" data-role="button" data-icon="minus" data-iconpos="notext">Arrow down</a>
        </fieldset>
        <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true" style="float: right">
            @if (stopfg.Trim().Equals("N"))
            {
                <input type="radio" name="radio-choice-b" id="radio-choice-c" value="N" checked="checked">
                <label for="radio-choice-c">正常</label>
                <input type="radio" name="radio-choice-b" id="radio-choice-d" value="Y">
                <label for="radio-choice-d">暂停</label>
            }
            else
            {
                <input type="radio" name="radio-choice-b" id="radio-choice-c" value="N">
                <label for="radio-choice-c">正常</label>
                <input type="radio" name="radio-choice-b" id="radio-choice-d" value="Y" checked="checked">
                <label for="radio-choice-d">暂停</label>
            }
        </fieldset>
    </div>
    <div class="ui-body-d">
        @{  string stopfg2 = "N";

            if (@Html.ViewContext.RouteData.Values["id"] != null)
            {
                string _id = @Html.ViewContext.RouteData.Values["id"].ToString();
                stopfg2 = _id.Substring(_id.Length - 1, 1);
            }
        }
        <table data-role="table" id="financial-table-reflow" data-mode="reflow" class="financial-table-reflow table-stroke">
            <thead>

                <tr class="titleborder">
                    <th class="lh40">集卡号</th>
                    <th style="background-color: #eee"><a href="#" data-role="button" data-icon="arrow-u" data-iconpos="right" data-mini="true" data-corners="false" data-shadow="false" id="SortByCompTruckDesc" class="Mysort">完成车次数</a></th>
                    <th><a href="#" data-role="button" data-iconpos="right" data-mini="true" data-corners="false" data-shadow="false" id="SortByAvgTruck" class="Mysort">平均周期</a></th>
                    <th class="lh40"><a href="#" data-role="button" data-iconpos="right" data-mini="true" data-corners="false" data-shadow="false" id="SortByCurrent" class="Mysort">当前周期</a></th>
                    <th><a href="#" data-role="button" data-iconpos="right" data-mini="true" data-corners="false" data-shadow="false" id="SortByToloc" class="Mysort">目标1</a></th>
                    <th class="lh40">目标2</th>
                    @if (stopfg2.Trim().Equals("Y"))
                    {
                        <th class="lh40">状态</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (Shsict.InternalWeb.Models.TruckOperationCycle item in Model)
                {
                    <tr id="p20">
                        <th>@item.TRUCKNO</th>
                        <td>@item.COMPLETETRUCKNUM</td>
                        <td>@item.AVEPERIOD</td>
                        <td>@item.CURRENTINSTRUCTION</td>
                        <td>@item.TOLOC1</td>
                        <td>@item.TOLOC2</td>
                        @if (stopfg2.Trim().Equals("Y"))
                        {
                            <td>状态： @item.STATUS </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
