@model List<Shsict.InternalWeb.Models.ThreeShift>
@{
    ViewBag.Title = "第一、二、三工班吞吐量";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
@section Header{
    <script type="text/javascript">
        $(function () {
            $('input:jqmData(role="datebox")').mobiscroll(opt);
            $("#SearchBox").change(function () {
                window.location.href = "/ThreeShift/Index/" + $("#SearchBox").val();
            });
            $(".refresh").click(function () {

                location.reload();
            });
        });
    </script>

    <a id="but_back" data-role="button" data-inline="true" data-rel="external" target="_top"
        data-transition="slidedown" href="/Portal"
        class="ui-btn-left back" data-iconpos="notext" data-mini="true">Back </a>
    <a class="refresh"></a>
    <div class="ui-body ui-body-c" style="padding: 0 10px; margin-bottom: -1px;">
        <fieldset data-type="horizontal" data-mini="true">
            @Html.TextBoxFor(a => a[0].MyDate, new { id = "SearchBox", data_role = "datebox" })
        </fieldset>
    </div>
}

<h3 class="tit">第一工班</h3>
<table data-role="table" data-mode="reflow" class=" table-stroke">
    <thead>
        <tr>
            <th data-priority="persist">计划TEU</th>
            <th data-priority="2">实际TEU</th>
            <th data-priority="3">计划完成率</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (Shsict.InternalWeb.Models.ThreeShift item in Model)
            {
                if (item.SHIFT.Trim() == "1")
                {   <td>@item.SHIFTPLAN</td>
                <td>@item.SHIFTACTUAL</td>
                <td>@item.MySHIFTCOMPLETERATE</td>      
                }
            }
        </tr>
    </tbody>
</table>
<h3 class="tit">第二工班</h3>
<table data-role="table" data-mode="reflow" class=" table-stroke">
    <thead>
        <tr>
            <th data-priority="persist">计划TEU</th>
            <th data-priority="2">实际TEU</th>
            <th data-priority="3">计划完成率</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (Shsict.InternalWeb.Models.ThreeShift item in Model)
            {
                if (item.SHIFT.Trim() == "2")
                {
                <td>@item.SHIFTPLAN</td>
                <td>@item.SHIFTACTUAL</td>
                <td>@item.MySHIFTCOMPLETERATE</td>
                }
            }
        </tr>
    </tbody>
</table>
<h3 class="tit">第三工班</h3>
<table data-role="table" data-mode="reflow" class=" table-stroke">
    <thead>
        <tr>
            <th data-priority="persist">计划TEU</th>
            <th data-priority="2">实际TEU</th>
            <th data-priority="3">计划完成率</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (Shsict.InternalWeb.Models.ThreeShift item in Model)
            {
                if (item.SHIFT.Trim() == "3")
                { 
                <td>@item.SHIFTPLAN</td>
                <td>@item.SHIFTACTUAL</td>
                <td>@item.MySHIFTCOMPLETERATE</td>
                }
            }
        </tr>
    </tbody>
</table>
